
body{
  background-color: #f4f4f4;
  margin: 0;

}
.header{

  width:75%;
  height: 10%;
  background-color: #888888;
  text-align: center;
  margin-left: 25.5%;
  padding: 0.5%;

}
.navigation{
  position: fixed;
  top: 0;
  height: 100%;
  margin-left: 0.1px;
  background-color: #dae1e7;
  text-align: left;
  width: 25%;

}

.content{

  margin-left: 27%;
  margin-top: 5%;
  margin-right: 4%;

}

.img{
  width: 70%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.img1{
  height: 250px;
  width: 250px;

}

.bottom-container{
  position: relative;
  background-color: #66bfbf;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 30px;
  bottom: 0;


}
.footer-link{
  padding-left: 30px;
  padding-top: 30px;
}
.copy{
  padding: 30px;

}
html{
  scroll-behavior: smooth;
}
/* heading div-tag */
hr{
  border-style: dotted none none;
  border-color: grey;
  border-width: 6px;
  width:4%;
  margin: 100px auto;
}


li{
  margin-bottom: 10px;
}

h2{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

}

.spl1{
  text-align: center;
}




.img3{
  height: 250px;
  width: 250px;


}
.com1{
  border-style: outset;
  /* border: 1px solid grey; */
  border-radius: 5px;
  padding-left: 10px;
  width: 350px;
  border-color: #84a9ac;
}
.sha{
  text-indent: 40px;
}
.gif{
  margin-left: 160px;
   height: 300px;
   width: 600px;
}
p{
  line-height: 2;
}
