html{
  scroll-behavior: smooth;
}
/* heading div-tag */
hr{
  border-style: dotted none none;
  border-color: grey;
  border-width: 6px;
  width:4%;
  margin: 100px auto;
}
body{
  background-color: #f4f4f4;
}
.intro{
  width:100%;
  height: 10%;
  background-color: #888888;
  position: absolute;
  text-indent: 500px;

}

.nav-pills .nav-link{
  background-color: pink;
}
.navigation{
position: fixed;
  height: 100%;

  margin-left: 0.1px;
  background-color: #dae1e7;
  text-align: left;
  text-indent: 20px;
  width: 25%;
  margin-top: 5px;
}


li{
  margin-bottom: 10px;
}

h2{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

}

.spl1{
  text-align: center;
}


.content{
  position: absolute;
  margin-left: 340px;
  margin-top: 50px;
  margin-right: 20px;

}
.img{
  width: 70%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.img1{
  height: 250px;
  width: 250px;

}
.img3{
  height: 250px;
  width: 250px;


}
.com1{
  border-style: outset;
  /* border: 1px solid grey; */
  border-radius: 5px;
  padding-left: 10px;
  width: 350px;
  border-color: #84a9ac;
}
.sha{
  text-indent: 40px;
}
.gif{
  margin-left: 160px;
   height: 300px;
   width: 600px;
}
p{
  line-height: 2;
}
